
/* =============== 01.main_default =============== */

/* 기본설정 */

@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';

html, body {
	line-height: 1.7;
	margin: 0;
	padding: 0;
}
body {
	color: rgb(255, 255, 255);
	font-size: 13px;
	font-weight: 400;
	overflow-x: hidden;
	position: relative;
	font-family: 'Roboto', sans-serif;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main { 
    display: block;
}

hr {
	border-left: none;
	border-right: none;
    border-top: 1px solid #E5E5E5;
    color: #F4F4F4;
    margin: 20px 0;
    padding: 0;
}


/* HTML 기본설정 - a태그 설정 */
a {
	text-decoration: none;
	outline: none;
	color: #ffffff;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}
a:hover {
	color: #666;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:focus {
	outline: none;
}
a img {
	border: none;
}
a[class*="glyphicon-"] {
	text-decoration: none;
}



/* HTML 기본설정 - h태그 설정 */
/*

상대단위 : em, ex, px, %
기종간, 플랫폼 간의 호환성을 유지하는데 유리

- em : font_size, 해당폰트의 대문자 M의 너비를 기준으로 함.
- px : pixel, 표시장치(모니터)에 따라서 상대적인 크기를 가짐.

*/
h1, h2, h3, h4, h5, h6 {
	margin: 5px 0 10px; /* 위, 오른쪽왼쪽, 아래 */
	color: #333;
	text-transform: uppercase; /* 모든 글자를 대문자로 */
	font-family: 'Montserrat', sans-serif;
}
h1, h2 {
	font-weight: 300; /*글자 굵기*/
}
h1 {
	font-size: 2.2em; /*35px*/
}
h2 {
	font-size: 1.8em; /*29px*/
}
h3 {
	font-size: 22px; /*1.4em*/
}
h4 {
	font-size: 18px; /*1.125em*/
}
h5, h6 {
	font-size: 1em; /*16px*/
}



/* HTML 기본설정 - 리스트태그 설정 */

ul, ul li,
ol, ol li,
p, form, input {
	margin: 0;
	padding: 0;
}
p {
	margin-bottom: 10px;
}
ul, ul li {
	list-style: none;
}



/* HTML 기본설정 - 이미지태그 설정 */

img {
	border: none;
	max-width: 100%;
}
img.image-left {
	float: left;
	margin-right: 5px;
}
img.img-full-width {
	width: 100%;
}



/* 사전에 정의된 컨텐츠 정렬 */
.margin-left {
	margin-left: 1em !important;
	margin-right: 0;
}
.margin-right {
	margin-left: 0;
	margin-right: 1em !important;
}






/* 레이아웃 - 기본 레이아웃 */

.container {
	position: relative;
}

[layout="row"] {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}
.fsr {
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}
.fg {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
.fw {
	flex-wrap: wrap;
}
.verticalStretch {
	-ms-flex-align: stretch;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	align-items: stretch;
}
.verticalCenter {
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
}
.nino-btn {
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	text-align: center;
	border: 2px solid #fff;
	font-size: 12px;
	line-height: 100%;
}
.nino-btn:hover {
	color: #fff;
}
.bg-white {
	background-color: #fff !important;
}





/* 커서 올릴때 효과 HOVER EFFECT */

.nino-hoverEffect {
	text-align: center;
}

/*new-items 배경색*/
.nino-hoverEffect .item {
	background: #464646;
	display: inline-block;
}

.nino-hoverEffect .item .overlay {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
}


/*new-items 배경색 윗 색*/
.nino-hoverEffect .item .overlay:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;	
	-webkit-transition: all .3s ease-in-out;
	   -moz-transition: all .3s ease-in-out;
		 -o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
	background: rgba(30, 80, 144, 0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(top, rgba(30, 80, 144, 0.9), rgba(252, 227, 138, 0.9));
	background: -o-linear-gradient(top, rgba(30, 80, 144, 0.9), rgba(252, 227, 138, 0.9));
	background: linear-gradient(to bottom, rgba(30, 80, 144, 0.9), rgba(252, 227, 138, 0.9)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nino-hoverEffect .item:hover .overlay:before {
	opacity: 1;	
}

/*new-items 배경색 윗 색이 얼마나 이동할지*/
.nino-hoverEffect .item:hover .overlay {
	left: -5px;
	top: -5px;
}

/* 위의 효과들을 이미지 위에 겹치게 함*/
.nino-hoverEffect .content {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	z-index: 1;
	opacity: 0;
	text-align: center;
	color: #fff;
	text-transform: uppercase;	
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
		 -o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}

/* 0으로 할 경우 글씨가 안보임*/
.nino-hoverEffect .item:hover .content {
	opacity: 1;
}
