 section {
	padding: 40px 0;
}


/*글씨체*/
#nino-slider .nino-sectionHeading {
	font-size: 110px;
	color: #fff;
}
#nino-slider .nino-sectionHeading .nino-subHeading {
	font-size: 55px;
}
#nino-slider .nino-sectionHeading:after {
	background: #fff;
}
.nino-sectionHeading {
	font-weight: 700;
	font-size: 25px;
	line-height: 1;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 30px;
	text-align: center;
	color: #333;
}

/* 해당 글씨체 밑에 board 색 */
.nino-sectionHeading:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 70px;
	height: 2px;
	background: rgba(30, 80, 144, 0.9);
	transform: translateX(-50%);
}

.nino-sectionHeading .nino-subHeading {
	display: block;
	text-transform: none;
	font-weight: 400;
	font-family: 'Kaushan Script', cursive;
	font-size: 20px;
	margin-bottom: 20px;
}


.nino-sectionDesc {
	text-align: center;
	max-width: 750px;
	margin: 0 auto 40px;
}



/* 메인 - new items  */

#new-items .content {
	font-weight: 700;
	font-size: 14px;
}
#new-items .content .nino-icon {
	display: block;
	font-size: 30px;
}


/* 메인 - best items */


.articleThumbs a {
	text-decoration: none;
	outline: none;
	color: #000000;

}

.articleDescs {
	text-decoration: none;
	outline: none;
	color: #000000;

}

#nino-latestBlog article .articleThumb {
	position: relative;
	margin-bottom: 20px;
}
#nino-latestBlog article .date {
	position: absolute;
	background: #95e1d3;
	left: -10px;
	bottom: 10px;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
}
#nino-latestBlog article .date .number {
	display: block;
	font-size: 28px;
	line-height: 100%;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
#nino-latestBlog article .date .text {
	display: block;
	font-weight: 300;
	font-style: italic;
}
#nino-latestBlog article .articleTitle {
	font-size: 14px;
}
#nino-latestBlog article .articleMeta {
	border-top: 1px solid #ffffff;
	margin-top: 15px;
	padding-top: 15px;
}
#nino-latestBlog article .articleMeta a {
	color: #999;
	display: inline-block;
	margin-right: 15px;
	font-style: italic;
	font-weight: 300;
}
#nino-latestBlog article .articleMeta a:hover {
	color: #000;
}
#nino-latestBlog article .articleMeta .nino-icon {
	color: #95e1d3;
	font-size: 17px;
	position: relative;
	top: 2px;
}

article img {
	height: 150px;
	width: 250px;
	-webkit-transition-duration: 2s;
		-moz-transition-duration: 2s;
		-ms-transition-duration: 2s;
		-o-transition-duration: 2s;
		transition-duration: 2s;
	
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	}
	
	article img:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	transition: all 0.5s;
	}
	




/* 이벤트배너 */
#nino-portfolio {
	padding-bottom: 0;
}
#nino-portfolio .nino-portfolioItems {
	position: relative;
	margin: 0;
	padding: 0;
}
#nino-portfolio .nino-portfolioItems li {
	float: left;
	width: 25%;
	background: #fff;
	position: relative;
}
#nino-portfolio .nino-portfolioItems li a,
#nino-portfolio .nino-portfolioItems li a img {
	display: block;
	position: relative;
}
#nino-portfolio .nino-portfolioItems li a {
	overflow: hidden;
	color: #fff;
}
#nino-portfolio .nino-portfolioItems li .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(216, 216, 216, 0.5); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(top, rgba(216, 216, 216, 0.5),  rgba(44, 44, 44, 0.5));
	background: -o-linear-gradient(top, rgba(216, 216, 216, 0.5),  rgba(44, 44, 44, 0.5));
	background: linear-gradient(to bottom, rgba(44, 44, 44, 0.5), rgba(216, 216, 216, 0.5));  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
}

#nino-portfolio .nino-portfolioItems li .content {
	position: absolute;
	left: 0 !important;
	top: 50% !important;
	width: 100%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
		 -o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}
#nino-portfolio .nino-portfolioItems li .nino-icon {
	font-size: 30px;
}
#nino-portfolio .nino-portfolioItems li .title {
	color: #fff;
	font-size: 14px;
	margin: 5px 0 5px;
}
#nino-portfolio .nino-portfolioItems li .desc {
	font-style: italic;
	font-size: 12px;
}


.company-info {
	text-decoration: none;
	outline: none;
	color: #000000;

}













