/* === 기본설정 === */

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 41.4rem;
  height: 100vh;
  padding-top: 10px;
  background: scroll;
  background-color: rgb(255, 255, 255);
  z-index: 20000000;
  /*최우선순위*/
  flex-direction: column;
  /* 각 컨테이너 나열방식 */
  box-shadow: 0 0 0 1000000px rgba(56, 56, 56, 0.472);
}

.side-bar a,
.side-bar li,
.side-bar span,
.side-bar i {
  color: #000;
}

.side-bar i {
  cursor: pointer;
}

.sign-processor {
  padding: 15px;
  flex: 0 0 auto;
  border-bottom: 8px solid #f2f2f2;
  background-color: rgb(255, 255, 255);
}

.category-menu,
.recently-product,
.customer {
  padding: 15px;
  flex: 1 1 auto;
  border-bottom: 20px solid #f2f2f2;
  background-color: rgb(255, 255, 255);
}



/* === 사이드 헤더 세부설정 === */
.sign-icon i {
  float: left;
  font-size: 40px;
  padding-right: 10px;
  line-height: 50px;
}

.sign-icon-2 i {
  float: right;
  font-size: 20px;
  padding-left: 15px;
  line-height: 15px;
}

.sign-login-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}

.sign-join {
  font-size: 13px;
  line-height: 27px;
}

.sign-join-guide {
  color: #757575;
}

.sign-join-link {
  font-weight: 700;
  text-decoration: underline;
}



/* === 검색바 === 

<div class="search">
<input type="text" class="search-text" placeholder="Search...">
<button class="search-btn" type="submit">Search</button>
</div>
*/

.search {
  text-align: center;
  padding: 10px;
  border-bottom: 8px solid #f2f2f2;
}

.search-text,
.search-btn {
  height: 30px;
  border: 0;
  color: #000;
}

.search-text {
  width: 70%;
  border-radius: 20px;
  
  
}

.search-btn {
  width: 20%;
  border-radius: 20px;
}


/* === 카테고리 세부설정 === */
/* -- 대분류 -- */
.tab-menu-list {
  display: flex;
}

.tab-menu-selector {
  box-sizing: border-box;
  width: 50%;
  height: 50px;
  line-height: 45px;
  border-bottom: 1px solid #f2f2f2;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.tab-menu-selector:hover {
  font-weight: 700;
  color: #757575;
}


/* -- 중분류 -- */
.category-m-menu {
  display: flex;
  font-size: 15px;
}

.m-menu-list {
  flex: 0 0 40%;
  width: 40%;
  padding: 1.6rem 0 0;
  background-color: #f8f8f8
}

.menu_selector {
  box-sizing: border-box;
  width: 100%;
  height: 5.8rem;
  padding: .8rem;
  cursor: pointer;
}

.menu_selector:hover {
  position: relative;
  z-index: 1;
}

.menu_selector-wrapper {
  display: block;
  border-radius: 2.1rem;
  line-height: 4.2rem;
  text-indent: 1.6rem;
}

.menu_selector:hover .menu_selector-wrapper {
  width: 14.7rem;
  margin: 0 0 0 .8rem;

  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 14px rgba(10, 10, 10, 0.25);
  font-weight: 700;
  color: rgb(0, 0, 0);
  transition-duration: 0.3s;
}

.m-menu-all {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0 0 17px;
  font-size: 13px;
}

/* -- 중분류 - 커뮤니티 -- */

.community-m-menu {
  display: none;
  font-size: 15px;
}


.cm-menu-list {
  flex: 0 0 100%;
  width: 100%;
  background-color: #ffffff;
}

.cm-menu-list li {
  line-height: 55px;
  border-bottom: solid 1px #f2f2f2;
}

.cmenu_selector {
  box-sizing: border-box;
  width: 100%;
  height: 5.8rem;
  padding: .8rem;
  cursor: pointer;
}





/* -- 소분류 -- */

.s-menu-list-2 {
  display: none;
}

.s-menu-list,
.s-menu-list-2 {
  flex: 1 1 auto;
  padding: 2.4rem 1.6rem 2.4rem 2.4rem
}

.menu-link {
  display: block;
  line-height: 4.2rem
}

.menu-link-all {
  font-weight: 500;
}

/* ooo 전체보기아래 줄 */
.menu-line {
  height: 1px;
  background-color: #575757;
}


/* === 최근 본 상품 세부설정 === */
.mini-posts img {
  width: 60px;
  height: 60px;
  margin: 4px 5px;
  object-fit: cover;
}


/* === 고객센터 세부설정 === */
.customer {
  height: 280px;
}

.center,
.service {
  width: 50%;
  float: left;
  padding: 10px;
}

.center li {
  font-size: 15px;
  padding: 2px 0;
}

.service li {
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
}
