/* 스크롤 탑 */
#nino-scrollToTop {
	width: 50px; 
	height: 50px;
	text-align: center;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-indent: -99999em;
	display: none;
	cursor: pointer;
	z-index: 2;
	background: rgba(30, 80, 144, 0.9) url(../images/go-to-top.png) center center no-repeat;
}
#nino-scrollToTop:hover {
	text-decoration: none;
	background-color: rgba(255, 217, 45, 0.9);
}

#nino-scrollToBottom {
	width: 500px; 
	height: 50px;
	text-align: center;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-indent: -99999em;
	display: none;
	cursor: pointer;
	z-index: 2;
	background: rgba(30, 80, 144, 0.9) url(../images/go-to-top.png) center center no-repeat;
}
#nino-scrollToBottom:hover {
	text-decoration: none;
	background-color: rgba(255, 45, 45, 0.9);
}

